body .section_1{
    margin-top: 2.5em;
    padding-top: 0.15em;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding-bottom: 1.2em;
}

body .section_1 .profile_pic{
    width: 30%;
    
    display: flex;
}

body .section_1 .info{
    flex: 1;

}